<div class="titulo">
  <h1>Descubre lugares mágicos: plazas, museos, artesanías...</h1>
</div>

<div class="search-bar">
  <input 
    type="text" 
    placeholder="Ingrese la ubicación" 
    [(ngModel)]="ll" 
    class="search-input"
  />
  <input 
    type="text" 
    placeholder="Ingrese la categoría (ej. restaurante, café)" 
    [(ngModel)]="query" 
    class="search-input"
  />
  <button (click)="fetchPlaces()" class="search-button">Buscar</button>
</div>

<div *ngIf="places.length > 0; else noPlaces">
  <div *ngFor="let place of places" class="place-card">
    <div class="place-info">
      <h3 class="place-name">{{ place.name }}</h3>
      <p class="place-address">{{ place.location.formatted_address }}</p>
      <p class="place-address">{{ place.location.address }}</p>
      <p class="place-distance">Distancia: {{ place.distance }} metros</p>

      <div *ngIf="place.categories?.length" class="place-categories">
        <div *ngFor="let category of place.categories" class="category-item">
          <img 
            [src]="category.icon.prefix + 'bg_64' + category.icon.suffix" 
            alt="{{ category.name }}" 
            class="category-icon"
          />
          <span class="category-name">{{ category.name }}</span>
        </div>
      </div>
    </div>

    <div class="place-photos" *ngIf="place.photos && place.photos.length > 0">
      <img 
        *ngFor="let photo of place.photos" 
        [src]="photo" 
        alt="Imagen de {{ place.name }}" 
        class="place-photo" 
      />
    </div>
  </div>
</div>

<ng-template #noPlaces>
  <p class="no-places-message">No se encontraron lugares.</p>
</ng-template>
